server/HELP.md
server/target/
!server/.mvn/wrapper/maven-wrapper.jar
!**/server/src/main/**/target/
!**/server/src/test/**/target/

.idea

### STS ###
server/.apt_generated
server/.classpath
server/.factorypath
server/.project
server/.settings
server/.springBeans
server/.sts4-cache

### IDEA ###
server/.idea
server/*.iws
server/*.iml
server/*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
server/.vscode/

### ENV ###
server/.env

